<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<p>name: <%= @fullname %></p>
<p>name: <%= @name %></p>
<p>name: <%= @index %></p>
<p>name: <%= @date %></p>
<p>name: <%= @time %></p>
<p>name: <%= @change %></p>
<p>name: <%= @pchange %></p>
