<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= render 'tickers/ticker', :collection => @tickers %>

<!--
<p>fullname1: <%= @fullname1 %></p>
<p>fullname2: <%= @fullname2 %></p>
<p>name: <%= @name %></p>
<p>index: <%= @index %></p>
<p>date: <%= @date %></p>
<p>time: <%= @time %></p>
<p>change: <%= @change %></p>
<p>%change: <%= @pchange %></p>
-->
