<%= form_for(@ticker) do |f| %>

  <% if @ticker.errors.any? %>
    <div>
      <h2><%= pluralize(@ticker.errors.count, "error") %> prohibited this ticker from being saved:</h2>

      <ul>
      <% @ticker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div data-role="fieldcontain">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>
  
  <div data-role="fieldcontain">
    <%= f.label :code_bloomberg %>
    <%= f.text_field :code_bloomberg %>
  </div>  
  
  <div data-role="fieldcontain">
    <%= f.label :format %>
    <%= f.text_field :format %>
  </div>
  
	<%= f.submit %>
  
<% end %>
