<!--
<p>Fullname1: <%= ticker[:fullname1] %></p>
<p>Fullname2: <%= ticker[:fullname2] %></p>
<p>Name: <%= ticker[:name] %></p>
<p>Date: <%= ticker[:date] %></p>
<p>Time: <%= ticker[:time] %></p>
<p>Change: <%= ticker[:change] %></p>
<p>% Change: <%= ticker[:pchange] %></p>
-->
<li>
	<div class="ui-btn-text">
		<% if ticker[:change].include? '+' %>
			<image src="/images/chart-bar-up.png" class="ul-li-icon">
		<% else %>
			<image src="/images/chart-bar-down.png" class="ul-li-icon">
		<% end %>
		<h3 class="ul-li-heading"><a href="index.html"><%= ticker[:fullname1] %></a></h3>
		<p class="ul-li-desc"><%= ticker[:fullname2] %></p>
		<p class="ul-li-aside"><%= ticker[:change] %> (<%= ticker[:pchange] %>)</p>
	</div>
</li>