<!--
<p>Fullname1: <%= ticker[:fullname1] %></p>
<p>Fullname2: <%= ticker[:fullname2] %></p>
<p>Name: <%= ticker[:name] %></p>
<p>Date: <%= ticker[:date] %></p>
<p>Time: <%= ticker[:time] %></p>
<p>Change: <%= ticker[:change] %></p>
<p>% Change: <%= ticker[:pchange] %></p>
-->
<li>
	<image src="/images/chart-down-color.png" class="ul-li-icon">
	<a href="index.html">FORD</a>
	<h3 class="ul-li-heading"><%= ticker[:fullname1] %></h3>
	<p class="ul-li-desc"><%= ticker[:fullname2] %></p>
	<p class="ul-li-aside"><%= ticker[:change] %></p>
</li>