
<p>Fullname1: <%= ticker[:fullname1] %></p>
<p>Fullname2: <%= ticker[:fullname2] %></p>
<p>Name: <%= ticker[:name] %></p>
<p>Date: <%= ticker[:date] %></p>
<p>Time: <%= ticker[:time] %></p>
<p>Change: <%= ticker[:change] %></p>
<p>% Change: <%= ticker[:pchange] %></p>