<!--
<p>Fullname1: <%= ticker[:fullname1] %></p>
<p>Fullname2: <%= ticker[:fullname2] %></p>
<p>Name: <%= ticker[:name] %></p>
<p>Date: <%= ticker[:date] %></p>
<p>Time: <%= ticker[:time] %></p>
<p>Change: <%= ticker[:change] %></p>
<p>% Change: <%= ticker[:pchange] %></p>
-->
<li>
<% if ticker[:change].include? '+' %>
	<img src="/images/navigation-up-frame.png" class="ui-li-icon" />
<!--div style="background: url('/images/navigation-up-frame.png') no-repeat top left; padding-left: 55px;"-->
<% elsif ticker[:change].include? '-' %>
	<img src="/images/navigation-down-frame.png" class="ui-li-icon" />
<!--div style="background: url('/images/navigation-down-frame.png') no-repeat top left; padding-left: 55px;"-->
<% else %>
<img src="/images/navigation-right-frame.png" class="ui-li-icon" />
<!--div style="background: url('/images/navigation-right-frame.png') no-repeat top left; padding-left: 55px;"-->
<% end %>
		<!--p class="ul-li-aside"><%= ticker[:change] %> (<%= ticker[:pchange] %>)</p-->
		
	<h3 style="margin-left: 15px;"><a href="#tickers-links" data-rel="dialog" data-transition="slidedown"><%= ticker[:name] %></a><!--%= link_to ticker[:name], ticker_path(ticker[:id]) %--></h3>
	<p style="margin-left: 15px;"><%= ticker[:code] %></p>
	<hr />
	<h5 style="margin-left: 15px; display: inline;">[ <%= ticker[:value] %> ]</h5>
	<p style="margin-left: 15px; display: inline;"><strong><%= ticker[:change] %>&nbsp;(<%= ticker[:pchange] %>)</strong></p>
	<p style="margin-left: 15px; margin-top: 2px;">Volume: <%= ticker[:volume] %></p>
	
</li>