
<div data-role="header">
	<%= link_to 'Home', root_path, 'data-icon' => 'home' %>
	<h1>Company info</h1>
	<%= link_to 'Edit', edit_ticker_path(@ticker), 'data-icon' => 'check' %>
</div><!-- /header -->

<div data-role="content">
	<blockquote><%= notice %></blockquote>
	
	<p>Position: <strong><%= @ticker.position %></strong></p>
	<p>Company code: <strong><%= @ticker.code %></strong></p>
	<p>Company code_bloomberg: <strong><%= @ticker.code_bloomberg %></strong></p>
	<p>Content format: <strong><%= @ticker.format %></strong></p>

</div><!-- /content -->

<div data-role="footer">
	<h4>(c) Sonae Sierra 2011</h4>
</div><!-- /footer -->